spring:
  application:
    name: Ecomspring-Product-Service

  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce_db
    username: root
    password: password

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  flyway:
    enabled: true
    locations: classpath:db/migration


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    enabled: false


api:
  response:
    excluded-paths:
      - /v3/api-docs/**
      - /swagger-ui/**
      - /swagger-ui.html
      - /actuator/**


server:
  port: 8080




